 /* цвет основного текста #212121 */
 /* цвет вчторичного текста #757575  */
 /* цвет акцента  #2196F3 */
 /* цвет белого текста #FFFFFF; */
 /* цвет текста контакта  rgba(255, 255, 255, 0.6); */
 /* основной цвет фона и хедера #FFFFFF */
 /* вторичный цвет фона #F5F4FA */
 /* цвет фона футера #2F303A */
 
 :root {
     --primary-text-color: #212121;
     --secondary-text-color: #757575;
     --accent-color: #2196F3;
     --white-color-bgc-text: #FFFFFF;
     --contacts-text-color: rgba(255, 255, 255, 0.6);
     --secondary-bgc-color: #F5F4FA;
     --footer-color: #2F303A;
     --primary-cubic: cubic-bezier(0.4, 0, 0.2, 1)
 }
 
 h1,
 h2,
 h3,
 ul,
 p {
     margin: 0;
 }
 
 body {
     background: var(--white-color-bgc-text);
     color: var(--primary-text-color);
     font-family: Roboto, sans-serif;
     font-size: 14px;
     letter-spacing: 0.03em;
 }
 
 ul {
     list-style: none;
     padding: 0;
 }
 
 img {
     display: block;
     max-width: 100%;
     height: auto;
 }
 
 .container {
     width: 1200px;
     padding-left: 15px;
     padding-right: 15px;
     margin-left: auto;
     margin-right: auto;
 }
 
 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     padding: 0;
     overflow: hidden;
     border: 0;
     clip: rect(0 0 0 0)
 }
 
 .section {
     padding-top: 94px;
     padding-bottom: 94px;
 }
 
 .color-effect {
     transition: color 250ms var(--primary-cubic);
 }
 /* Шапка сайта */
 
 .page-header {
     border-bottom: 1px solid #ECECEC;
 }
 
 .logo {
     color: var(--accent-color);
     font-family: Raleway, sans-serif;
     font-weight: 700;
     font-size: 26px;
     line-height: 1.2;
     letter-spacing: 0.03em;
     text-decoration: none;
 }
 
 .logo__end {
     color: var(--primary-text-color);
 }
 
 .page-header__logo {
     padding-top: 24px;
     padding-bottom: 25px;
 }
 /* Навигация сайта */
 
 .page-header__box {
     display: flex;
 }
 
 .page-header__nav {
     display: flex;
 }
 
 .site-nav {
     display: flex;
     margin-left: 93px;
 }
 
 .site-nav__link,
 .contacts__link {
     display: block;
     padding-top: 32px;
     padding-bottom: 32px;
 }
 
 .site-nav__item:not(:last-child) {
     margin-right: 50px;
 }
 
 .contacts__item:not(:last-child) {
     margin-right: 30px;
 }
 
 .site-nav__link {
     color: var(--primary-text-color);
     line-height: 1.14;
     letter-spacing: 0.02em;
     text-decoration: none;
     font-weight: 500;
 }
 
 .site-nav__link:hover,
 .site-nav__link:focus {
     color: var(--accent-color);
 }
 
 .site-nav__link--current {
     color: var(--accent-color);
     position: relative;
 }
 
 .site-nav__link--current::after {
     content: '';
     position: absolute;
     width: 100%;
     height: 4px;
     left: 0;
     bottom: -1%;
     background-color: currentColor;
     border-radius: 2px;
 }
 /* Контакты сайта */
 
 .contacts {
     display: flex;
     margin-left: auto;
 }
 
 .contacts__icon {
     display: inline-block;
     fill: currentColor;
     margin-right: 10px;
 }
 
 .contacts__link {
     color: var(--secondary-text-color);
     font-weight: 500;
     line-height: 1.14;
     letter-spacing: 0.02em;
     text-decoration: none;
     display: flex;
     align-items: center;
 }
 
 .address__link {
     color: var(--contacts-text-color);
     text-decoration: none;
 }
 
 .contacts__link:hover,
 .contacts__link:focus,
 .address__link:hover,
 .address__link:focus {
     color: var(--accent-color);
 }
 /* Герой для index.html*/
 
 .hero,
 .footer {
     background-color: var(--footer-color);
 }
 
 .hero {
     padding-top: 200px;
     padding-bottom: 200px;
     max-width: 1600px;
     margin-left: auto;
     margin-right: auto;
     background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgb(47, 48, 58, 0.4)), url(../images/office.jpg);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
 }
 
 .hero__title {
     color: var(--white-color-bgc-text);
     font-weight: 900;
     font-size: 44px;
     line-height: 1.36;
     text-align: center;
     letter-spacing: 0.06em;
     text-transform: uppercase;
     margin-bottom: 30px;
 }
 
 .hero__btn {
     color: var(--white-color-bgc-text);
     background-color: var(--accent-color);
     cursor: pointer;
     font-family: inherit;
     font-weight: 700;
     font-size: 16px;
     line-height: 1.87;
     display: flex;
     align-items: center;
     text-align: center;
     letter-spacing: 0.06em;
     margin-left: auto;
     margin-right: auto;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
     border-radius: 4px;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 32px;
     padding-right: 32px;
     border: 0;
     transition: background-color 250ms var(--primary-cubic), color 250ms var(--primary-cubic), box-shadow 250ms var(--primary-cubic);
 }
 /* Главные секции сайта */
 /* Преимущества */
 
 .benefits__list,
 .activities__list,
 .team-member__list {
     display: flex;
 }
 
 .benefits__icon {
     display: flex;
     width: 270px;
     height: 120px;
     border: none;
     margin-bottom: 30px;
     background-color: var(--secondary-bgc-color);
     justify-content: center;
     align-items: center;
     border-radius: 4px;
 }
 
 .benefits__item {
     display: block;
 }
 
 .benefits__item:not(:last-child),
 .activities__item:not(:last-child),
 .team-member__item:not(:last-child) {
     margin-right: 30px;
 }
 
 .benefits__subject {
     font-size: 14px;
     line-height: 1.14;
     text-transform: uppercase;
     margin-bottom: 10px;
 }
 
 .benefits__text {
     line-height: 1.71;
 }
 
 .benefits__text,
 .team-member__position,
 .portfolio-text {
     color: var(--secondary-text-color);
 }
 /* Чем мы занимаемся*/
 
 .activities {
     padding-top: 0;
 }
 
 .activities__title,
 .team-member__title,
 .client__title {
     font-size: 36px;
     line-height: 1.17;
     text-align: center;
     margin-bottom: 50px;
 }
 
 .activities__item {
     position: relative;
 }
 
 .activities__name {
     position: absolute;
     display: flex;
     height: 70px;
     width: 100%;
     left: 0;
     bottom: 0;
     justify-content: center;
     align-items: center;
     background: rgba(47, 48, 58, 0.8);
 }
 
 .activities__text {
     font-size: 14px;
     line-height: 1.14;
     text-transform: uppercase;
     color: var(--white-color-bgc-text);
 }
 /* Наша команда */
 
 .team-member {
     background-color: var(--secondary-bgc-color);
 }
 
 .team-member__item {
     display: block;
     background-color: var(--white-color-bgc-text);
     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
     border-radius: 0px 0px 4px 4px;
 }
 
 .team-member__box {
     padding-top: 30px;
     padding-bottom: 30px;
 }
 
 .team-member__name {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.2;
     text-align: center;
     margin-bottom: 10px;
 }
 
 .team-member__position {
     font-size: 16px;
     line-height: 1.2;
     text-align: center;
     margin-bottom: 16px;
 }
 
 .socials {
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .socials__items {
     display: block;
     border: none;
     width: 44px;
     height: 44px;
 }
 
 .socials__items:not(:last-child) {
     margin-right: 10px;
 }
 
 .socials__link {
     display: flex;
     padding: 0;
     width: 100%;
     height: 100%;
     border-radius: 50%;
     justify-content: center;
     align-items: center;
     fill: #AFB1B8;
     background-color: var(--white-color-bgc-text);
     transition: fill 250ms var(--primary-cubic), background-color 250ms var(--primary-cubic);
 }
 
 .socials__link:hover,
 .socials__link:focus {
     background-color: var(--accent-color);
     fill: var(--white-color-bgc-text);
 }
 /* Постоянные клиенты */
 
 .client__list {
     display: flex;
     border: none;
 }
 
 .client__item {
     display: block;
     width: 170px;
     height: 92px;
 }
 
 .client__item:not(:last-child) {
     margin-right: 30px;
 }
 
 .client__link {
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     border: 1px solid #AFB1B8;
     border-radius: 4px;
     fill: #AFB1B8;
     transition: fill 250ms var(--primary-cubic), border 250ms var(--primary-cubic);
 }
 
 .client__link:hover,
 .client__link:focus {
     fill: var(--accent-color);
     border-color: var(--accent-color);
 }
 /* портфолио */
 
 .portfolio__list {
     display: flex;
     padding-left: 0;
     justify-content: center;
     margin-bottom: 50px;
 }
 
 .portfolio__item {
     border-radius: 4px;
 }
 
 .portfolio__item:not(:last-child) {
     margin-right: 8px;
 }
 
 .card-set {
     display: flex;
     padding-left: 0;
     flex-wrap: wrap;
     margin-left: -30px;
     margin-top: -30px;
 }
 
 .card-set__item {
     flex-basis: calc(100% / 3 - 30px);
     margin-left: 30px;
     margin-top: 30px;
     border: 1px solid #EEEEEE;
 }
 
 .work__box {
     padding-top: 20px;
     padding-bottom: 20px;
     padding-left: 24px;
     padding-right: 24px;
 }
 
 .card-set__link {
     display: block;
     color: var(--primary-text-color);
     text-decoration: none;
     border: 1px solid #EEEEEE;
 }
 
 .card-set__link:hover,
 .card-set__link:focus {
     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
 }
 
 .work {
     position: relative;
     overflow: hidden;
 }
 
 .work__overlay {
     position: absolute;
     width: 100%;
     height: 100%;
     padding: 63px 24px;
     left: 0;
     top: 0;
     text-align: left;
     background: rgba(33, 150, 243, 0.9);
     overflow: hidden;
     transform: translatey(100%);
     transition: transform 250ms var(--primary-cubic);
 }
 
 .card-set__link:hover .work__overlay,
 .card-set__link:focus .work__overlay {
     transform: translatey(0);
 }
 
 .work__description {
     font-size: 18px;
     line-height: 1.56;
     color: var(--white-color-bgc-text);
 }
 
 .work__title {
     font-size: 18px;
     line-height: 2;
     letter-spacing: 0.06em;
     margin-bottom: 4px;
 }
 
 .work__name {
     font-size: 16px;
     line-height: 1.88;
 }
 /* Футер */
 
 .footer {
     padding-top: 60px;
     padding-bottom: 60px;
 }
 
 .footer__box {
     display: flex;
     align-items: baseline;
 }
 
 .footer__contacts {
     display: block;
     margin-right: 70px;
 }
 
 .footer__logo {
     display: block;
     margin-bottom: 20px;
 }
 
 .logo__end--inverse {
     color: var(--white-color-bgc-text);
 }
 
 .address {
     color: var(--white-color-bgc-text);
     font-style: normal;
     line-height: 1.71;
 }
 
 .address__text {
     margin-bottom: 9px;
 }
 
 .address__list {
     padding: 0;
 }
 
 .address__item:not(:last-child) {
     margin-bottom: 9px;
 }
 
 .subscription__title,
 .action__text {
     font-size: 14px;
     line-height: 1.14;
     text-transform: uppercase;
     margin-bottom: 20px;
     color: var(--white-color-bgc-text);
 }
 
 .footer__socials {
     fill: var(--white-color-bgc-text);
     background-color: rgba(255, 255, 255, 0.1);
 }
 
 .subscription {
     margin-left: auto;
 }
 
 .footer-form {
     display: flex;
     padding: 0;
     margin: 0;
 }
 
 .footer-form__label {
     width: 358px;
     height: 50px;
     margin-right: 12px;
     border: none;
     padding: 0;
 }
 
 .footer-form__input {
     height: 100%;
     width: 100%;
     padding: 15px 16px;
     background-color: inherit;
     font-size: 16px;
     line-height: 1.25;
     color: rgba(255, 255, 255, 0.6);
     border: 1px solid rgba(255, 255, 255, 0.3);
     box-sizing: border-box;
     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
     border-radius: 4px;
 }
 
 .footer-form__input::placeholder {
     color: rgba(255, 255, 255, 0.6);
 }
 
 .footer-form__btn {
     display: flex;
     padding: 0;
     padding-left: 29px;
     margin: 0;
     border: none;
     width: 200px;
     cursor: pointer;
     font-family: inherit;
     border-radius: 4px;
     background-color: var(--accent-color);
     color: var(--white-color-bgc-text);
     fill: var(--white-color-bgc-text);
     align-items: center;
     /* }
 
 .btn-text { */
     font-weight: 700;
     font-size: 16px;
     line-height: 1.87;
     letter-spacing: 0.06em;
 }
 
 .footer-form__icon {
     margin-left: 10px;
     fill: inherit
 }
 /* Кнопки */
 
 .portfolio__btn {
     background-color: var(--secondary-bgc-color);
     color: var(--primary-text-color);
     cursor: pointer;
     font-family: inherit;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.62;
     text-align: center;
     letter-spacing: 0.03em;
     padding-top: 6px;
     padding-bottom: 6px;
     padding-left: 22px;
     padding-right: 22px;
     border: 0;
     border-radius: 4px;
     box-shadow: none;
     transition: background-color 250ms var(--primary-cubic), color 250ms var(--primary-cubic), box-shadow 250ms var(--primary-cubic);
 }
 
 .portfolio__btn:hover,
 .portfolio__btn:focus {
     background-color: var(--accent-color);
     color: var(--white-color-bgc-text);
     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
 }
 /* модалка */
 
 .backdrop {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.2);
     opacity: 1;
     transition: opacity 250ms var(--primary-cubic);
 }
 
 .backdrop.is-hidden {
     opacity: 0;
     pointer-events: none;
 }
 
 .backdrop.is-hidden .modal {
     transform: translate(-50%, -50%) scale(0.8);
 }
 
 .modal {
     position: absolute;
     width: 528px;
     height: 581px;
     padding: 40px;
     margin: 0;
     border: none;
     top: 50%;
     left: 50%;
     background-color: var(--white-color-bgc-text);
     transform: translate(-50%, -50%) scale(1);
     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
     border-radius: 4px;
     transition: transform 250ms var(--primary-cubic);
 }
 
 .modal-close {
     position: absolute;
     display: flex;
     padding: 0;
     margin: 0;
     width: 30px;
     height: 30px;
     top: 8px;
     right: 8px;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     border: 1px solid rgba(0, 0, 0, 0.1);
     fill: rgba(0, 0, 0, 1);
     background-color: var(--white-color-bgc-text);
     cursor: pointer;
     transition: fill 250ms var(--primary-cubic);
 }
 
 .modal-close:hover,
 .modal-close:focus {
     fill: var(--accent-color);
 }
 /* форма модального окна */
 
 .modal__header {
     text-align: center;
     font-weight: 700;
     font-size: 20px;
     line-height: 1.15;
     margin-bottom: 12px;
 }
 
 .modal-form__label {
     display: block;
     font-size: 12px;
     line-height: 1.17;
     letter-spacing: 0.01em;
     color: var(--secondary-text-color);
     margin-bottom: 20px;
 }
 
 .modal-form__label {
     margin-bottom: 10px;
 }
 
 .modal-form__box {
     display: block;
     position: relative;
     margin-top: 4px;
 }
 
 .modal-form__input,
 .modal-form__feedback {
     width: 100%;
     height: 40px;
     text-indent: 42px;
     border: 1px solid rgba(33, 33, 33, 0.2);
     box-sizing: border-box;
     border-radius: 4px;
     color: inherit;
     transition: color 250ms var(--primary-cubic);
 }
 
 .modal-form__feedback {
     display: block;
     height: 120px;
     padding: 12px 16px;
     margin-top: 4px;
     font-family: inherit;
     resize: none;
     font-size: 14px;
     line-height: 1.14;
     text-indent: 0;
     letter-spacing: 0.01em;
 }
 
 .modal-form__feedback::placeholder {
     font-family: Roboto, sans-serif;
     font-style: normal;
     font-weight: normal;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.01em;
     color: rgba(117, 117, 117, 0.5);
 }
 
 .modal-form__icon {
     position: absolute;
     top: 50%;
     left: 12px;
     transform: translateY(-50%);
     fill: var(--primary-text-color);
     transition: fill 250ms var(--primary-cubic);
 }
 
 .modal-form__input:focus,
 .modal-form__feedback:focus {
     border: 1px solid var(--accent-color);
 }
 
 .modal-form__input:focus+.modal-form__icon,
 .modal-form__input:hover+.modal-form__icon {
     fill: var(--accent-color);
 }
 
 .policy-box {
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 14px;
     line-height: 1.71;
     color: var(--secondary-text-color);
 }
 
 .policy-box__checkbox {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     padding: 0;
     overflow: hidden;
     border: 0;
     clip: rect(0 0 0 0)
 }
 
 .policy-box__icon {
     width: 16px;
     height: 15px;
     border: 2px solid var(--primary-text-color);
     border-radius: 4px;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     background-image: var(--white-color-bgc-text);
     transition: background-image 250ms var(--primary-cubic), border 250ms var(--primary-cubic), ;
 }
 
 .policy-box__checkbox:checked+.policy-box__icon {
     background-image: url(../images/iconcheck.svg);
     background-size: contain;
     background-origin: border-box;
     border: 2px solid var(--accent-color);
 }
 
 .policy-box__checkbox:focus+.policy-box__icon {
     border: 2px solid var(--accent-color);
 }
 
 .policy-box__text {
     margin-left: 7px;
 }
 
 .policy-box__link {
     text-decoration-line: underline;
     color: var(--accent-color);
 }
 
 .modal-form__btn {
     display: flex;
     width: 200px;
     height: 50px;
     margin-top: 30px;
     margin-left: auto;
     margin-right: auto;
     cursor: pointer;
     border: none;
     justify-content: center;
     align-items: center;
     background-color: var(--accent-color);
     color: var(--white-color-bgc-text);
     font-weight: 700;
     font-size: 16px;
     line-height: 1.87;
     letter-spacing: 0.06em;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
     border-radius: 4px;
     transition: background-color 250ms var(--primary-cubic);
 }
 
 .modal-form__btn:hover,
 .modal-form__btn:focus {
     background-color: #188CE8;
 }